@import url("./fonts.css");

img, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

div > * { margin: 0; }

header {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 1900;
  background: linear-gradient(#06a8ffa0, #00000000);
}
.flexNav {
  padding: 19px 38px 19px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #000000;
  padding: 19px 38px;
  overflow: auto;
}
.footerLogos {
  display: flex;
  align-items: center;
}
.footerLogos > * {
  display: inline-block;
  pointer-events: initial;
  cursor: pointer;
}
.footText {
  font-weight: 200;
  font-size: small !important;
  margin: 0 9.5px;
  & a { cursor: pointer; }
}
a[onclick="{ window.open('https://tbmassoc.github.io'); }"]:hover { color: #dcc6bb; }

.headerLogo {
  aspect-ratio: 16 / 6.5;
  object-fit: cover;
  /* background-color: black; */
}

.hero {
  width: 100vw;
  padding: 19rem 1.9rem;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero > div {
  width: 50rem;
  max-width: 100%;
}

.partnerNetFeed { padding: 0.95rem; }
#partnerFeed, #COMELECFeed, #senateResults {
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  /* gap: 1.9rem; */
}
#partnerFeed > div,
  .partnerNetFeed > div > button[abscbn] {
  background-color: #00a551;
  border: solid 2.85px #ec1c24;
  border-radius: 1.9rem;
  cursor: pointer;
  margin: 0.95rem;
  overflow: hidden;
}
#partnerFeed > div:hover,
  .partnerNetFeed > div > button[abscbn]:hover { background-color: #0066b2; }
#partnerFeed > div > div { padding: 1.9rem; }
#COMELECFeed > div {
  background-color: #0038a8;
  border: solid 2.85px #ffff00;
  border-radius: 1.9rem;
  cursor: pointer;
  margin: 0.95rem;
  overflow: hidden;
}
#COMELECFeed > div:hover { background-color: #012977; }
#COMELECFeed > div > div { padding: 1.9rem; }
#senateResults > div {
  border: solid 2.85px #d4af37;
  border-radius: 1.9rem;
  margin: 0.95rem;
  overflow: hidden;
  padding: 1.9rem;
}

button {
  background-color: #161224;
  border: solid 2.85px #ff0000;
  border-radius: 1900px;
  color: inherit;
  padding: 11.875px 28.5px;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  margin: 9.5px 1.9px 28.5px 1.9px;
  cursor: pointer;
  /* -webkit-transition: 0.475s; */
  /* -moz-transition: 0.475s; */
  /* -o-transition: 0.475s; */
  /* transition: 0.475s; */
}
button:hover {
  background-color: #ff0000;
  border: solid 2.85px #06a8ff;
}
button:active {
  background-color: #ffffff;
  border: solid 2.85px #06a8ff;
  color: #ff0000;
  -webkit-transition: 0.19s;
  -moz-transition: 0.19s;
  -o-transition: 0.19s;
  transition: 0.19s;
}